/*start header*/



/* finish header*/

/

/* Finish Section features*/

/* start Section team*/









.team-item

.team-item

.soc-box__item {
  width: 24.7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $hover-color;
  border: none;
  padding: 0;
  transition-property: transform;;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.soc-box {
  width: 60%;
  height: 12.15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.soc-box svg {
  display: block;
  max-width: 50%;
  height: 50%;
  fill: #$footer-link-color;
}

.team-item

.soc-box__item:hover {
  background: #$footer-link-color;
}

.soc-box__item:hover svg {
  fill: #$first-text-color;
}

.team-item

.team-item:hover .soc-box {
  -webkit-transition-property: opasity, -webkit-transform;
  transition-property: opasity, -webkit-transform;
  -o-transition-property: transform, opasity;
  transition-property: transform, opasity;
  transition-property: transform, opasity, -webkit-transform;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  -ms-transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  opacity: 1;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.team-item:hover .team-item__photo {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;;
  transition-duration: 200ms;
  transform: translate(-10px, -10px);;
  transition-timing-function: linear;
}

.team__name {
  text-align: center;
  font-family: $primery-text;
  font-size: 14px;
  color: #$second-text-color;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 12px;
}

.team__profesion {
  text-align: center;
  font-family: $secondary-text;
  font-size: 15px;
  color: $minor-text-color;
  font-weight: 300;
  font-style: italic;
  margin: 0 auto;
}



/* start Section team*/

/*start Footer*/
.footer {
  border-top: 1px solid $border-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0;
}

.footer__text {
  font-family: $primery-text;
  font-size: 14px;
  color: #$second-text-color;
  font-weight: 400;

  /* padding: 12px 0; */
}

.footer__link {
  color: #$footer-link-color;
  text-decoration: none;
}

form {
  width: 31.66%;
  display: flex;
}

input {
  font-family: $secondary-text;
  font-size: 15px;
  color: $minor-text-color;
  font-weight: 300;
  font-style: italic;
  width: 55%;
  height: 34px;
}

input::-webkit-input-placeholder {
  color: $border-color;
}

.footer__button {
  border: none;
  background: #$elements-color;
  font-weight: 700;
  
  /* padding: 12px 30px; */
  width: 45%;
}
