* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding-top: 75px;
  margin-bottom: 100px;
}
.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}
li {
  display: inline-block;
  width: 220px;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}
main {
  margin-bottom: 55px;
}
.block {
  margin-bottom: 130px;
  font-size: 0;
}

.block:last-child {
  margin: 0;
}

.block-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}

.block-item:nth-child(2n) {
  margin-right: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  font-size: 0;
}

span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  font-weight: lighter;
  margin-bottom: 30px;
}

h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 35px;
  font-size: 30px;
  color: #626262;
  font-weight: normal;
}

.text {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  line-height: 24px;
}



.button {
  text-align: center;
  padding-bottom: 70px;
  }

button {
  width: 162px;
  /* height: 62px; */
  border: 1px solid #626262;
  background: inherit;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  /* line-height: 24px; */
  color: #626262;
  padding: 16px 0;
}
