.soc-box {
  width: 60%;
  height: 12.15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;

  &__item {
    width: 24.7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: $hover-color;
    border: none;
    padding: 0;
    transition-property: transform;;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }

  & svg {
    display: block;
    max-width: 50%;
    height: 50%;
    fill: $footer-link-color;
  }
  
  &__item:hover {
    background: $footer-link-color;
  }

  &__item:hover svg {
    fill: $first-text-color;
  }
}
