body {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(../fonts/montserrat-v12-latin-regular.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(../fonts/montserrat-v12-latin-700.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-700.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/roboto-v18-latin-regular.woff) format("woff"),
    url(../fonts/roboto-v18-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../fonts/roboto-v18-latin-300.woff format("woff"),
    url(../fonts/roboto-v18-latin-300.woff2) format("woff2");
}

.container {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
.enter button,
.logo,
.title,
.find {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
.logo {
  text-transform: uppercase;
}

header {
  background-image: url(../img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 18px 0 138px;
  margin-bottom: 64px;
  text-align: center;
}

.enter {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
.enter button {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  background: none;
  font-size: 14px;
  padding: 9px 18px;
  cursor: pointer;
}
.enter button:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}
nav {
  margin-bottom: 26px;
}

.logo {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.04em;
  
}
.title {
  width: 320px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto 10px;
  letter-spacing: -0.02em;
}
.sub-title {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  width: 224px;
  margin: 0 auto 14px;
}
.find {
  display: block;
  margin: 0 auto;
  background-color: #ff4e50;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  width: 282px;
  font-size: 14px;
  padding: 12px;
  letter-spacing: -0.02em;
}
.partner {
  padding-bottom: 30px;
}
.title-partner {
  font-size: 22px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  width: 260px;
  margin: 0 auto 12px;
}
.box-partner {
  margin-bottom: 30px;
}
.item-partner {
  margin-bottom: 26px;
}
.item-partner:last-child {
  margin-bottom: 0;
}
.photo-partner-1,
.photo-partner-2,
.photo-partner-3,
.photo-partner-4 {
  width: 122px;
  margin: 0 auto 20px;
  position: relative;
}
.photo-partner-1::after,
.photo-partner-2::after,
.photo-partner-3::after,
.photo-partner-4::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid rgb(252, 250, 250);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.photo-partner-1::after {
  background-image: url(../img/icon-01.png);
}
.photo-partner-2::after {
  background-image: url(../img/icon-02.png);
}
.photo-partner-3::after {
  background-image: url(../img/icon-03.png);
}
.photo-partner-4::after {
  background-image: url(../img/icon-04.png);
}
.name {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0 auto 14px;
}
.text {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 14px;
  width: 220px;
  margin: 0 auto;
  line-height: 1.3;
}
.more {
  background: none;
  cursor: pointer;
  border: 2px solid #ff4e50;
  border-radius: 100px;
  width: 282px;
  font-size: 14px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ff4e50;
}
