body {
  margin: 0;
  box-sizing: content-box;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 20px 10px;
  width: 1200px;
}
img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
}
.name {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-item {
  width: 300px;
  border: 1px solid #fcfbfb;
  margin-bottom: 20px;
}
.form {
  width: 200px;
}
.subtitle{
  font-weight: 700;
  color: black;
}
.list-item:hover{
  border: 1px solid #000000;
}
