.nav-list {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 0;
  margin: 0;
  @media (max-width: 800px) {
    display: block;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
  }
}

.nav-list__item {
  list-style: none;
  position: relative;

  &:hover :before {
    opacity: 1;
  }
}

.nav-list__link {
  box-sizing: border-box;
  font-family: $primery-text;
  font-size: 14px;
  text-decoration: none;
  color: $first-text-color;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid $hover-color ;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 30px;
    opacity: 0;
  }

  &:hover {
    color: $hover-color;
  }
}