nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
  width: 100%;
  @media (max-width: 800px) {
    display: block;
    text-align: center;
    flex-direction: column;
  }
}

.nav-box {
  display: flex;
  justify-content: space-between;
  width: 52.18%;
  @media (max-width: 800px) {
    display: block;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
}