* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 900px;
}

header { 
  padding-top: 75px;
  margin-bottom: 100px;
  text-align: center;
}


li {
  display: inline-block;
  width: 170px;
  }

/* .list-item1 {
  margin-right: 120px;
}

.list-item2 {
  margin-right: 100px;
}

.list-item3 {
  margin-right: 90px;
} */

.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}

.site-navigation a:hover {
  color: #03a9f4;
}
/*или фокус или ховер*/
/* .site-navigation a:focus {
  color: #03a9f4;
} */

.block-left {
  display: inline-block;
  width: 50%;
  /* margin: 0 0 130px; */
  /* padding-left: 140px; */
}

.block-right {
  display: inline-block;
  width: calc(50% - 4px);
  /* margin: 0 0 130px; */
  /* text-align: left; */
}

img {
  margin-bottom: 30px;
}

span {
  /* margin: auto auto 25px; */
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  font-weight: lighter;
}

h2 {
  font-family: "Playfair Display", serif;
  margin:25px 0 35px;
  font-size: 30px;
  color: #626262;
  font-weight: normal;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  line-height: 24px;
  }
.block {
  margin-bottom: 130px;
}
.bottom {
  margin-bottom: 55px;
}

.button {
  text-align: center;
  /* margin-bottom: 70px; */
}

button {
  width: 162px;
  height: 62px;
  border: 1px solid #626262;
  background: inherit;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
}
