/*fonts*/
$primery-text: "Montserrat", sans-serif;
$secondary-text: "Roboto", sans-serif;
$cursive-text: "Kaushan Script", cursive;

/*colors*/
$first-text-color:#ffffff;
$second-text-color: #333333;
$minor-text-color: #999999;
$hover-color: #fce38a;
$elements-color: #95e1d3;
$footer-link-color : #f38181;
$border-color: #e5e5e5;