body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(../fonts/montserrat-v12-latin-regular.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(../fonts/montserrat-v12-latin-700.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-700.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/roboto-v18-latin-regular.woff) format("woff"),
    url(../fonts/roboto-v18-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Kaushan Script";
  font-weight: 400;
  src: url(../fonts/kaushan-script-v7-latin-regular.woff) format("woff"),
    url(../fonts/kaushan-script-v7-latin-regular.woff2) format("woff2");
}

/*start header*/
.header {
  padding: 20px 0 228px;
  margin-bottom: 40px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(243, 129, 129, 0.8)),
      to(rgba(252, 227, 138, 9))
    ),
    url(../img/banner.png);
  background-image: -webkit-linear-gradient(
      rgba(243, 129, 129, 0.8),
      rgba(252, 227, 138, 9)
    ),
    url(../img/banner.png);
  background-image: -o-linear-gradient(
      rgba(243, 129, 129, 0.8),
      rgba(252, 227, 138, 9)
    ),
    url(../img/banner.png);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.8),
      rgba(252, 227, 138, 9)
    ),
    url(../img/banner.png);
  background-size: cover;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(243, 129, 129, 0.8)),
        to(rgba(252, 227, 138, 9))
      ),
      url(../img/banner@2x.png);
    background-image: -webkit-linear-gradient(
        rgba(243, 129, 129, 0.8),
        rgba(252, 227, 138, 9)
      ),
      url(../img/banner@2x.png);
    background-image: -o-linear-gradient(
        rgba(243, 129, 129, 0.8),
        rgba(252, 227, 138, 9)
      ),
      url(../img/banner@2x.png);
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.8),
        rgba(252, 227, 138, 9)
      ),
      url(../img/banner@2x.png);
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
  width: 100%;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 52.18%;
  padding: 0;
  margin: 0;
}
.nav__list {
  list-style: none;
  position: relative;
}
.nav__link {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  /* padding: 0 20px; */
  text-transform: uppercase;
}
.nav__link::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #fce38a;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 30px;
  opacity: 0;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__btn svg:hover #magnifier,
.nav__btn svg:hover #trash {
  fill: #fce38a;
}
.nav__list:hover :before {
  opacity: 1;
}
.nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}
.header__subtitle {
  font-family: "Kaushan Script", cursive;
  color: #ffffff;
  font-size: 72px;
  margin: 0 auto 24px;
  text-align: center;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 150px;
  text-transform: uppercase;
  margin: 0 auto 110px;
  /* width: 68.33%; */
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 0.95;
}
.btn {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--more {
  padding: 10px 30px;
  border: #ffffff solid 2px;
  background: none;
  display: block;
  margin: 0 auto;
}
/* finish header*/

/* start Section features*/

.subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin: 0 0 10px;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 100px;
  position: relative;
}
.title::before {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 2px solid #f38181;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 74px;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.features__list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 382px;
  position: relative;
  padding-left: 62px;
  text-align: left;
  min-height: 170px;
  list-style: none;
}
.features__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin: 0 auto 10px;
}
.features__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-align: left;
  color: #999999;
}
.features__ico {
  position: absolute;
  -webkit-transform: translateX(-160%);
  -ms-transform: translateX(-160%);
  transform: translateX(-160%);
}

.features__list:nth-child(n + 3) {
  margin-bottom: 0;
}

/* Finish Section features*/

/* start Section team*/

.team__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.galery__card{
  width: 31.66%;
  height: auto;
}
.team__text {
  width: 80.83%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0 auto 88px;
  color: #999999;
}
.team__item {
  position: relative;
  background: rgb(149, 225, 211);
  width: 100%;
  margin-bottom: 28px;
}
.team__photo {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.team__overlay {
  width: 100%;
  /* height: 471px; */
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ee8889),
    to(#eed787)
  );
  background: -webkit-linear-gradient(#ee8889, #eed787);
  background: -o-linear-gradient(#ee8889, #eed787);
  background: linear-gradient(#ee8889, #eed787);
  opacity: 0;
  position: absolute;
  top: 0px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.soc-box__item {
  width: 24.7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fce38a;
  border: none;
  padding: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.soc-box {
  width: 60%;
  height: 12.15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}
.soc-box svg {
  display: block;
  max-width: 50%;
  height: 50%;
  fill: #f38181;
}

.team__item:hover .soc-box__item {
  opacity: 1;
}
.soc-box__item:hover {
  background: #f38181;
}
.soc-box__item:hover svg {
  fill: #ffffff;
}

.team__item:hover .team__overlay {
  -webkit-transition-property: opasity, -webkit-transform;
  transition-property: opasity, -webkit-transform;
  -o-transition-property: transform, opasity;
  transition-property: transform, opasity;
  transition-property: transform, opasity, -webkit-transform;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 0.9;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.team__item:hover .soc-box {
  -webkit-transition-property: opasity, -webkit-transform;
  transition-property: opasity, -webkit-transform;
  -o-transition-property: transform, opasity;
  transition-property: transform, opasity;
  transition-property: transform, opasity, -webkit-transform;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  -ms-transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  transform: translate(calc(-50% - 10px), calc(-50% - 10px));
  opacity: 1;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.team__item:hover .team__photo {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.team__name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 12px;
}
.team__profesion {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  margin: 0 auto;
}

.main {
  margin-bottom: 80px;
}
/* start Section team*/

/*start Footer*/
.footer {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  /* padding: 12px 0; */
}
.footer__link {
  color: #f38181;
  text-decoration: none;
}
form {
  width: 31.66%;
  display: flex;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  width: 55%;
  height: 34px;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
.footer__button {
  border: none;
  background: #95e1d3;
  font-weight: 700;
  /* padding: 12px 30px; */
  width: 45%;
}
